*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: #e8f9e9;
  font-family: 'Acme', sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  color: #fe346e;
}
p{
  margin: 20px;
}
hr{
  border-style: dotted hidden hidden hidden;
  border-width: 7px;
  width: 70px;
  color: grey;
}
.head{
  background-color: #00bcd4;
  padding: 10px;
  font-family: 'Akronim', cursive;
  font-size: 2rem;
}
.contenido h2{
  margin: 20px;
}
table, th, td{
  border: solid black 2px;
  background-color: #FFF;
}
table{
  box-shadow: 5px 5px #888888;
}
th{
  background-color: #ffd3b6;
}
.trabajo{
  background-color: #f8fab8;
}
.warm{
  background-color: #ccf0e1;
}
.abs{
  background-color: #e58a8a;
}
.recomendaciones{
  margin: 50px 10rem;
}
.footer{
  position: absolute;
  text-align: center;
  bottom: 5;
  width: 100%;
  background-color: #00bcd4;
}
